<div class="dropdown">
    <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown">
        <%= content_tag(:div, user.username, class: "msg-role-#{user.role} font-weight-bold") %>
    </a>
    <ul class="dropdown-menu bg-dark text-light p-2" style="width: 16em;">
        <div class="">
          <%= content_tag(:div, "#{user.username}'s Profile", style:"color:#fff") %>
        </div>
        <li><hr class="dropdown-divider"></li>
        <li><%= user.profile %></li>
    </ul>
</div>