<%= turbo_frame_tag "#{current_room.name}_bot_status", class: "text-dark" do %>
  <% if current_room.talking_with_bot %>
  <div class="d-flex align-items-center justify-content-begin">
    <div class="load-9">
      <div class="spinner d-block">
        <div class="bubble-1"></div>
        <div class="bubble-2"></div>
      </div>
    </div>
    <div class="d-block ml-2 font-weight-bold" style="color: #4b9cdb;">Bot is thinking...</div>
  </div>
  <% else %>
    <div class="d-block ml-2 text-dark font-weight-bold"><i class="fa-solid fa-robot mr-1"></i> Bot is idle...</div>
  <% end %>
<% end %>
