/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
* {
  font-family: 'Helvetica Neue';
}
// html {
//   height: 100%;
// }
// body {
//   height: calc(100vh - 126px);
// }
footer{
  height: 26px;
}
div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.dynamic_bg {
  background-attachment: fixed;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='1000' preserveAspectRatio='none' viewBox='0 0 2000 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1455%26quot%3b)' fill='none'%3e%3cpath d='M333.792%2c993.158C374.319%2c992.564%2c408.31%2c967.954%2c430.697%2c934.167C456.326%2c895.487%2c479.809%2c847.491%2c457.132%2c807.01C434.158%2c765.999%2c380.698%2c758.091%2c333.792%2c761.181C292.728%2c763.886%2c256.357%2c785.992%2c235.72%2c821.597C215.019%2c857.313%2c211.351%2c901.243%2c231.839%2c937.082C252.47%2c973.171%2c292.226%2c993.767%2c333.792%2c993.158' fill='rgba(223%2c 65%2c 107%2c 0.07)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M661.465%2c456.42C737.86%2c454.565%2c800.064%2c398.715%2c834.291%2c330.391C865.039%2c269.012%2c857.33%2c196.731%2c820.618%2c138.722C786.463%2c84.755%2c725.331%2c56.923%2c661.465%2c57.31C598.329%2c57.692%2c540.652%2c88.106%2c505.616%2c140.63C465.746%2c200.401%2c441.666%2c274.722%2c473.463%2c339.152C508.497%2c410.14%2c582.326%2c458.342%2c661.465%2c456.42' fill='rgba(223%2c 65%2c 107%2c 0.07)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1394.376%2c754.478C1481.36%2c750.551%2c1540.573%2c676.369%2c1583.289%2c600.494C1624.951%2c526.491%2c1651.84%2c440.67%2c1613.785%2c364.749C1572.019%2c281.424%2c1487.581%2c223.174%2c1394.376%2c223.603C1301.817%2c224.029%2c1223.587%2c285.951%2c1178.433%2c366.75C1134.46%2c445.435%2c1129.552%2c540.252%2c1173.41%2c619C1218.466%2c699.899%2c1301.87%2c758.655%2c1394.376%2c754.478' fill='rgba(223%2c 65%2c 107%2c 0.07)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1365.105%2c258.043C1390.991%2c257.476%2c1409.443%2c236.269%2c1422.668%2c214.009C1436.281%2c191.096%2c1446.341%2c164.542%2c1434.982%2c140.432C1422.022%2c112.923%2c1395.506%2c91.139%2c1365.105%2c91.832C1335.569%2c92.505%2c1313.697%2c117.046%2c1300.535%2c143.496C1288.888%2c166.901%2c1290.165%2c193.856%2c1303.003%2c216.63C1316.098%2c239.861%2c1338.443%2c258.627%2c1365.105%2c258.043' fill='rgba(223%2c 65%2c 107%2c 0.07)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1455'%3e%3crect width='2000' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.msg-form {
  width: 100%;
  height: 56px;
  padding: 10px;
  margin-bottom: 0rem !important;
}
#single_room {
  height: calc(100vh - 150px);
}
#messages {
  height: calc(100vh - 210px);
  overflow-x: hidden;
  overflow-y: scroll;
}
#room_container {
  height: calc(100vh - 70px);
  margin-right: 0px !important;
  padding-right: 2em;
  padding-left: 2em;
}
#side_panel {
  height: calc(100vh - 70px);
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 2em;
  padding-right: 2em;
}
#side_panel_right {
  height: calc(100vh - 70px);
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #ffffea;
}
#chatroom_container {
  height: calc(100vh - 70px);
  margin-right: 0px !important;
}
.msg-content {
  width: 80%;
  margin-right: 5px;
}
.bot-message-box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 100%;
  min-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 1px;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #dd9cdf;
}
.message-box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 60%;
  min-width: 10%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #73bbee;
}
.user_row {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #b8e0d4;
}
.username {
  overflow: hidden;
}
.chat_pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.user_list_item {
  height: auto;
  background-color: #809bce !important;
}
.room_list_item {
  height: auto;
  background-color: #809bce !important;
  color: #eee;
}
.name {
  margin-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.time {
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.icon-container {
  width: 50px;
  height: 50px;
  position: relative;
}
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
  border: 2px solid white;
  top: 18px;
  right: -11px;
  position: absolute;
}
.room_search_field {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #555555;
}
.room_search_field:focus {
  outline: 3px solid rgb(29, 81, 255);
}
.room-leave-link-icon {
  color: rgb(144, 144, 144);
}
.room-leave-link-icon:hover {
  color: rgba(144, 144, 144, 0.5);
}
.room-join-link-icon {
  color: rgb(38, 255, 0);
}
.room-join-link-icon:hover {
  color: rgba(38, 255, 0, 0.5);
}
.new-room-input {
  border-radius: 0px !important;
}
.new-room-button {
  border-radius: 0px !important;
}
#message-preview-card {
  background:#222; border-radius:0px
}
#message-preview {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: #eee !important;
}

// LOADER

.spinner {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: #4b9cdb;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}

.l-9 {
  animation-delay: 1.44s;
}

.load-9 .spinner {
  animation: loadingI 2s linear infinite;
}
.load-9 .bubble-1,
.load-9 .bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}
.load-9 .bubble-2 {
  animation-delay: -1s;
}

@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
